*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', sans-serif;
    
}

#gameBoard{
    display: flex;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    height: 100vh;
    max-width: 700px;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.card{
    width: 150px;
    height: 150px;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .8s;
}

.card_back, .card_front{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateX(180deg);
}

.card_front{
    transform: rotateX(180deg);
    background-color: #101c2c;
}

.card_back{
    color: #101c2c;
    background-color: #dbdf04;
    font-size: 30px;
}

#gameOver{
    font-size: 30px;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#restart{
    font-family: 'Righteous', sans-serif;
    background-color: yellow;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
}

#restart:hover{
    
    background-color: #101c2c;
    color: yellow;
}

